{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block extrastyle %}
<style>
    .log-in-as{
        font-family: 'Roboto','Lucida Grande','DejaVu Sans','Bitstream Vera Sans','Verdana,Arial',sans-serif;
        display: block;
        float: left;
        padding: 3px 12px;
        background: #999;
        font-weight: 400;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: #fff;
        border-radius: 15px;
        line-height: 20px;
        border: none;
        cursor: pointer;
    }
    .log-in-as:hover{
        background: #447e9b;
        text-decoration: none;
    }
</style>
{% endblock %}
{% block object-tools-items %}
    <li>
        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a>
    </li>
    <li>
        <form action="/hijack/{{ original.id }}/" method="post">
            {% csrf_token %}
            <button class="log-in-as" type="submit">Log in as {{ original }}</button>
        </form>
    </li>
    {% if has_absolute_url %}
        <li>
            <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a>
        </li>
    {% endif %}
{% endblock %}